header, .full-width {
  padding: 5%;
  width: 100%;
  background-color: #EE1010

}

html {
  background-color: #10EEEE
}

/* removes bullets */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a: hover {
  background: #00B7C0;
  color: #CAE1FF;
}

nav a: visited{
  background: #3232CC;
  color: #00B7C0;
}


li, .bar {
  text-decoration: none;
  display: inline;
  padding: 10px;
  margin: 10px;
  background: gray;
  float: bottom;

}

li, .non-bar {
  text-decoration: none;
  display: block;
  background: none;
}

